#aboutomarket {
    background-color: white;
}



#aboutomarket .container{
    padding-top: 4%;
    padding-bottom: 6%;
}

#aboutomarket img{
    border-radius: 15px;
}

#aboutomarket .highlight {
    color: var(--color-main);
}

@media (max-width: 990px) {
    
    #aboutomarket .img-container img {
        margin-bottom: 50px;
    }
    
}