


/*

ALL

*/


:root{

    /*Red*/
    --color-main:red;

    /*Blue*/
    --color-main:#273fd4;

    /*Marron Clair*/
    --color-main:#9D8980!important;

    /*Gris*/
    --color-main:#454a5b;

    /*Vert dégeux*/
    --color-main:#57644a;

    /*Marron défgeux*/
    --color-main: #645655;

}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: unset!important;
    box-shadow: unset!important;
    outline: 0 none!important;
}

.row{
    margin-right: unset!important;
    margin-left: unset!important;
}

body{
    background-color: #fff4ec;
}
