#article .container-fluid{
    background-image: url('../assets/DA/vitrine.png');
    background-position: center 67%;
    background-size: 100%;
    width: 100%;
    height: 231px;
    background-repeat: no-repeat;
}

#article .searchbar{
    padding-top: 5%;
    padding-bottom: 7%;
}

#article form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#article input{
    width:100%;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#article #search-icon{
    position: absolute;
    right: 47px;
    font-size: 170%;
}