#article_card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#article_card a {
    border-radius: 20px;
}

#article_card .buttonAdd {
    background-color: var(--color-main);
    color: #fefffe;
    text-decoration: solid;
    font-weight: 600;
    border: none;
    width: 100%;
}

#article_card .buttonAdd:hover {
    background-color: #808679;
}

#article_card .card{
    margin-right:30px;
    margin-left:30px;
    margin-bottom:70px;
}
