#FAQ{
    padding-top: 4%;
}


#FAQ h2.title {
    color:var(--color-main);
    font-weight: 500;
}

#FAQ .card-header{
    padding: .25rem 1.25rem;
}

@media (max-width: 992px){
    
    #FAQ .card i{

        position: relative;
        top:5px;
    }
}

@media (max-width: 391px){

    #FAQ .card i::before{

        position: relative;
        top: 20xp;
    }
}