#howitworks{
    padding-bottom: 100px;
}

#howitworks h2{
    font-weight: 400;
    padding-top: 5%;
    padding-bottom: 5%;
}

#howitworks h4{
    font-size: 1.4rem;
}

#howitworks .icon-container {
    color: var(--color-main);
    padding-top: 22px;
    padding-left: 23px;
    margin-bottom: 17px;
}

#howitworks i{
    font-size:200%;
    border-bottom: 3px solid black;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
}


#howitworks h3{
    font-size: 100%;
    font-weight: 600;
    padding-left: 20%;
}

#howitworks p{
    font-size: 85%;
    padding-left: 11px;
}
#howitworks .subtitlecard{
    height: 57px;
    margin-bottom: 12px;
}

#howitworks .blackpipe {
    background-color: black;
    width: 180%;
    height: 2px;
    margin-top: 37%;
    margin-left: 75%;
    margin-bottom: 44%;
}

#howitworks .card {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    margin-bottom: 15px;
        width: 315px;
        height: 285px;
    padding: 30px;
}

#howitworks .button-container{
    margin-top:3%;
}

#howitworks button{
    color: white;
    font-weight: 700;
    background-color:var(--color-main);
    padding: 6px;
    border:none;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}

#howitworks button:hover {
    background-color: #808679;
}

#howitworks .start-card{
    margin-bottom: 60px;
}

@media (max-width: 1200px){

    #howitworks .card{

    }

    #howitworks .start-card{
        justify-content: space-around !important;

    }

}