#home .container-fluid{
    background-image: url('../assets/DA/vitrine.png');
    background-position: center 72%;
    background-size: cover;
    width: 100%;
    height: 392px;
    background-repeat: no-repeat;
}