a.nav-link{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.nav-link:hover{
    color:white;
    font-weight: bold;
}

ul > .nav-item:hover {
    color:white;
    font-weight: bold;
    background-color: red;
    border-radius: 25px;
    opacity: 0.4;
}

#active {
    color:white;
    font-weight: bold;
    background-color: red;
    border-radius: 25px;
    opacity: 0.4;
}

.div #navbar{
    display: flex;
    justify-content: space-between;
}

.loginAndCart > * {
    margin-right: 20px;
}

i:hover{
    color: red;
}

.logo-container{
    padding-right: 100px;
}