a.nav-link{
    text-decoration: none;
    font-weight: 100;
    color: grey;
}

a.nav-link:hover{
    color:black;
    font-weight: bold;
}

#navbar{
    display: flex;
    justify-content: center;
}

#active {
    color:black;
    font-weight: bold;
}