nav a.nav-link{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav a.nav-link:hover{
    color:white;
    font-weight: bold;
}

nav ul > .nav-item:hover {
    color:white;
    font-weight: bold;
    background-color: red;
    border-radius: 25px;
    opacity: 0.4;
}

nav #active {
    color:white;
    font-weight: bold;
    background-color: red;
    border-radius: 25px;
    opacity: 0.4;
}

nav .div #navbar{
    display: flex;
    justify-content: space-between;
}

nav .loginAndCart > * {
    margin-right: 20px;
}

nav i:hover{
    color: red;
}

nav .logo-container{
    padding-right: 100px;
}